
body {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(73, 73, 11);
}

a:hover{
    color: white
  }

html {
    background-color: pink;
  }

h1,
.description {
    margin: 0;
    text-align: center;
  }

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

h3#heading{
  background-color: pink     /*ID selector*/
}

span.b{
  background-color: yellow;
}

em{
  color: darkblue
}

strong{
  color: saddlebrown
}

span.a{
  background-color: green
}

.note {
  border: 4px solid #666;
  padding: .5em;
}

.note.b {
  border-color: orange;
  font-weight: bold;
}

.note.c {
  border-color: red;
  font-weight: bold;
}

#one{
  background-color: aquamarine;
}